[user]
	name = mksmsrgnk
	email = sergienko@gmail.com
	signingkey = 1CF8EDB778E1EBC26EFE096ED865B73FADC504C6
[commit]
	gpgsign = true
[core]
	editor = nvim
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
