[user]
	name = mksmsrgnk
	email = sergienko@gmail.com
	signingkey = 8A794635BCF7637A5FBEDF08FE271913B73B36B4
[commit]
	gpgsign = true
[merge]
  tool = nvr
[mergetool]
  prompt = false
[mergetool "nvr"]
  cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
  tool = nvr
[difftool]
  prompt = false
[difftool "nvr"]
	cmd = nvr -s -d $LOCAL $REMOTE
