[user]
	name = mksmsrgnk
	email = sergienko@gmail.com
	signingkey = 8A794635BCF7637A5FBEDF08FE271913B73B36B4
[commit]
	gpgsign = true
[core]
	editor = vim
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = vim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
